body{
	background-color: black;
  font-family: 'Roboto', sans-serif;
  

}


p{
	color: white;
}

h3{
  color: white;
}
h2{
 color: white;

 
}

  video{
   
  }

.video{
    object-fit: contain;
    margin: auto;
    height: 90vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100%;
    


    
}
  .videoDiv{
    height: 100vh;
   

  }
    .imgDiv{
     
    height: 100vh;
    
    
 
       
  }


.image{
 
/*    
    margin: auto;
    height: 90%;
    max-height: 90%;
    max-width: 100vw;*/
  
    margin: auto;
    
    object-fit: contain;
    max-width: 100%;
    max-height: 90vh;
    min-height: 90vh;

    

}



.imgDiv p{
  text-align: center;
  max-height: 5vh;
}
.videoDiv p{
  text-align: center;
  max-height: 5vh;
}
.titleText{
  
  margin: auto;
  width: 100%;


  max-height: 15vh;
  overflow: visible;
  
}




button{
	border: 0;
	background-color: black;
	color: gray;
	z-index: 10000;

}
.starterButton{
	display: flex;
	max-height: 100vh;
	min-height: 100vh;

}



.upDiv{
	position: absolute;
	display: flex;
	left: 50%;
	flex-direction: column;
}


  .loaderIcon{
    font-size: 200%; 
    color: white; 
    z-index: 1;
    position: absolute;
    


  }

.downDiv{
  position: absolute;
  display: flex;
  text-align: right;
  bottom: 0%;
  width: 100%;
  flex-direction: column;
 margin: auto;
}


  .iconDown{

opacity: 0.4;
    z-index: 9999999999999;
    color: white;

    


  }
  .iconUp{
  	opacity: 0.4;
    
    position: absolute;
    margin: auto;
    z-index: 1;
    color: white;
    right: 50%;
    top: 1;

  }
  .iconLeft{
  	opacity: 0.4;
    font-size: 40px;
    position: absolute;
    margin: auto;
    z-index: 1;
    color: white;
    left: 1;
    top: 50%;

  }
  .iconRight{
  	opacity: 0.4;
    font-size: 40px;
    position: absolute;
    margin: auto;
    z-index: 1;
    color: white;
    right: 1;
    top: 50%;

  }
  .iconRightButton{
  	opacity: 1;
    font-size: 40px;
    position: absolute;
    margin: auto;
    z-index: 1;
    color: white;
    right: 1;
    top: 50%;
    color: #1bb76e

 }


  .iconBack{
    font-size: 40px;
    z-index: 1;
    color: white;
    opacity: 0.4
  }


  .titlesLeft{
  	font-size:20px;
    margin: auto;
    z-index: 1;
    color: white;
    left: 50%;
    text-align: center;
    
    opacity: 0.4;
    max-width: 100vw;
    overflow: hidden;
  }

.ant-dropdown-menu{
  z-index: 123812398123981239128 !important;
}
  .iconSetting{
    position: absolute;
    right: 1%;
    font-size: 20px;
    font-weight: bold;
    z-index: 20123123 !important;
  }

 .inputFocus{
  position: absolute;
  bottom: 1px;
  opacity: 1;
  color: red;
  z-index: 999999;
  
}

  .wrapperRow{
    display: flex;
    flex-direction: column;
    
  }
  .wrapper{
    
    width: 100%;
    max-height: 100vh;
    overflow: hidden;

  }

   .logoTexts{
  display: relative;
 

  height: 70vw;

 }
.flexer{
  display: flex !important;
  flex-direction: row !important;
}
  .logo{
    margin-bottom: 0 !important;
  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 40px;

}

.scrollLogo{

  font-family: 'Varela Round', sans-serif;
  color: white;
  font-size: 20px;
}
.slick-slider, .slick-vertical, .slick-initialized{
  
}
.ant-dropdown-link{

}
  .sloganText{
    font-style: italic; 
    
    font-size: 16px;
    
  }

  .subRedditTitle{
  	margin: auto;
  	font-size: 500%;
    height: 90vh;
  	color: gray;
  }

  .loadingIcon{

  }
  .switchTitle{
    z-index: 199999;
  	display: flex;
  	flex-direction: column;
  	float: left;
    position: absolute;
  	
  }


   .startWrap{
   	display: flex;
    flex-direction: row;
    height: 120vh;
    }

    .startWrap button{
    	border: 0 !important;
    	border-radius: 0.1px;
      font-family: 'Roboto', sans-serif;
      color: white;
     font-size: 20px; 
    }

    .ageConsent button{
      background-color: black !important;
    }

	.randomCat {
		width: 100%;
		height:35vh;
    margin-top: 1%;
    
    
      	background-color: #6ed3cf;
      	color: black;
        background-image:url("./pics/sfw.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      margin: 1%;

      z-index: 0;
      font-size: 40px !important;
    }
   .ant-popover-inner-content{
    z-index: 20000;
   }
    .NSFW {
    
    	width: 100%;
    	height:50vh;
      background-image:url("./pics/nsfw.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
    
      margin: 1%;
      z-index: 0;
      font-size: 40px !important;




    }



    .OTHER2{
    
    	width: 100%;
    	height: 50vh;
       background-image:url("./pics/food.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      margin: 1%;
      font-size: 40px !important;

    	
    }
    .OTHER1{
      background-color: #e1e8f0;
    	height: 35vh;
    	width: 100%;
    	background-color: pink;
       background-image:url("./pics/art.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;
      text-shadow: 0.5px 0.5px gray;
      margin: 1%;
font-size: 40px !important;

    }
    .OTHER3{
      background-color: #e1e8f0;
      height: 55vh;
      width: 100%;
       background-image:url("./pics/animals.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      margin: 1%;
      font-size: 40px !important;

     

    }
    .randomCat:hover{
      background-image:url("./pics/sfw.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      color: white;
      font-size: 45px !important;




       
    }

    .NSFW:hover{
      background-image:url("./pics/nsfw.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      background-position: right;
      font-size: 45px !important;
       
    }

    .startWrap h1{
      color: white !important;
      font-size: 40px !important;

    }
    .startWrap p{
      max-width: 300px;
      margin: auto;
    }

    .OTHER1:hover{
      background-image:url("./pics/art.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      font-size: 45px !important;
      background-position: left;
       
    }
.smallText{
  font-size: 12px !important;
  background-color: black;
}
    .OTHER2:hover{
      background-image:url("./pics/food.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      font-size: 45px !important;
      background-position: left;
       
    }

    .OTHER3:hover{
      background-image:url("./pics/animals.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      font-size: 45px !important;
       
    }
    .footerDiv{
      margin-top: 1%;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: sticky;
      bottom: 0;

    }

    .footerDiv p,h3 {
      color: lightgray
    }
    .instructions p,h3 {
      color: lightgray !important;
    }


    .rightCol{
      text-align: center;
    	width: 49%;
    	display: flex;
    	flex-direction: column;
      margin-left: 1%;
      opacity: 0.9;

    }
    .leftCol{
      text-align: center;
    	width: 48%;
margin-left: 0.5%;
    	display: flex;
    	flex-direction: column;


    }

    .ant-switch-inner{
      font-size: 19px;
    }

    .ageConsent{
      position: relative;
      margin: auto;
      text-align: center;
    }